body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}


a {
    text-decoration: none;
}

.main_header {
    -webkit-box-shadow: 0px 11px 20px -9px rgba(130,120,130,0.53);
    -moz-box-shadow: 0px 11px 20px -9px rgba(130,120,130,0.53);
    box-shadow: 0px 11px 20px -9px rgba(130,120,130,0.53);
}

.main_nav {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid black;
}

.main_nav_logo {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}

.main_nav_item {
    display: inline-block;
    vertical-align: middle;
}

.main_nav_item a {
    padding: 20px;
    color: #282828;
    font-size: 20px;
    text-transform: lowercase;
}

.main_nav_item a:hover {
    border-top: 2px solid royalblue;
    border-bottom: 2px solid royalblue;
    color: royalblue;
}

.main_foot_container {
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    background: transparent;
    text-align: center;
    -webkit-box-shadow: 0px -11px -20px 9px rgba(130,120,130,0.53);
    -moz-box-shadow: 0px -11px -20px 9px rgba(130,120,130,0.53);
    box-shadow: 0px 11px 20px 9px rgba(130,120,130,0.53);
}

.main_foot_item {
    display: inline-block;
    width: 10%;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}

/*FONT AWESOME CLASSES */

.main_foot_item .fab, .main_foot_item .fas {
    color: #000;
    font-size: 50px;
}

.main_foot_item i:hover {
    color: #76c2af;
    text-align: center;
}

.main_foot_item a {
    padding: 20px;
    text-align: center;
}

.main_foot_item a {
    padding: 20px;
    text-align: center;
}

.main_foot_credits {
    vertical-align: middle;
    text-align: right;
}

.main_page_content {
    width: 80%;
    margin: 0 auto;
}

.main_page_header {
    background: #76c2af;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    width: 70%;
}

.main_page_intro {
    background-color: #e8e8e8;
    font-size: 20px;
    padding: 3px 15px;
    font-family: 'Montserrat', sans-serif;
}

.main_page_intro:last-child {
    margin-bottom: 100px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.column {
    flex: 50%;
}

.sub_header {
    background-color: #76c2af;
    text-align: center;
    font-family: 'Playfair Display', sans serif;
}

/* MODAL */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    font-family: 'Montserrat', sans-serif;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#breakoutBtn, #blackjackBtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.modal-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.form {
    width: 50%;
    margin: 100px auto;
    font-size: 1.125rem;
    line-height: 1.5;
    background-color: white;
    font-family: 'Lora', serif;
    border-top: 4px solid #83b6cc;
}

.form-button a {
    background-color: #83b6cc;
    border: 2px solid transparent;
    border-radius: 2em;
    color: #eff6f9;
    display: inline-block;
    font-family: Karla, Arial, sans-serif;
    font-size: 15.2px;
    font-size: 0.95rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    padding: 1em 3em;
    text-shadow: none;
    text-transform: uppercase;
    text-decoration: none;
    margin: 10px 5px 40px 5px;
}

.form-button a:hover {
    color: #83b6cc;
    background: transparent;
    border: 2px solid #83b6cc;
}

.inputfield {
    width: 100%;
    margin: 0 auto;
    font-size: 28px;
    border: 2px solid grey;
}

.form p {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    color: grey;
}

#highscoreboard {
    text-align: center;
    font-size: 26px;
    margin-bottom: 100px;
    color: crimson;

}

.btnInit {
    position: relative;
    width: 20%;
    top: 20px;
    left: calc(50vw - 10%);
    background: #76c2af;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    cursor: pointer;
}



